.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 123px;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 93px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-2 .u-list-1 {
  width: 812px;
  margin: 17px auto 0 63px;
}

.u-section-2 .u-repeater-1 {
  min-height: 60px;
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 27px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 27px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 27px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 27px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -50px 63px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-list-2 {
  width: 740px;
  margin: 27px auto 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 60px;
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 0 -16px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 0 -16px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 0 -16px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 0 -16px;
  padding: 8px 33px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 125px auto 52px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: -19px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: -19px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: -19px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 220px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 242px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }
}